@font-face{
  font-family: Carrois;
  src: url(../assets/CarroisGothic-Regular.ttf);
}

body { font-family: "Open Sans",Arial,sans-serif; }

.docs-header {
  font-family: Carrois;
  background-color: #B74934;
  color: #F1C40F; 
}
.docs-header a {
  color: #F1C40F;
  text-decoration: underline;
}
.docs-header img.stryker-img { 
  max-width: 220px; 
}
.docs-header h1 {
  font-size: 63px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.jumbotron {
  border-radius: 0rem;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}