coverage/
dist/
junit.xml
node_modules/
lerna-debug.log
.nyc_output
.nx/cache
packages/website-frontend/.angular/cache

# misc
.DS_Store
.env
.env.local
acc.env
.env.development.local
.env.test.local
.env.production.local
.local.settings.json
/reports

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
*.map
.stryker-tmp
/.azurite

packages/*/reports
