/* Import utilities for @properties to be imported */
@layer theme, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@source '../../stryker-elements/src/lib/**/*.ts';

html,
body,
stryker-dashboard {
  height: 100%;
  width: 100%;
}

stryker-dashboard {
  display: flex;
  flex-direction: column;
}

stryker-dashboard main {
  flex-grow: 1;
}
