/* https://www.cssscript.com/material-style-toggle-switches-with-pure-css-css3/ */
/* edited to fit our design */
.toggle-switch-label {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 0px;
}
.toggle-switch-label:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.2);
  content: '';
  transition: all 0.3s ease;
}
.toggle-switch-label:active:after { transform: scale(1.15, 0.85); }

.toggle-switch:checked ~ label { background: #F1C40f; }
.toggle-switch:checked ~ label:after {
  left: 20px;
  background: #F1C40F;
}
.toggle-switch:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.toggle-switch:disabled ~ label:after { background: #bcbdbc; }

.hidden { display: none; }