@font-face{
  font-family: Carrois;
  src: url(../../assets/CarroisGothic-Regular.ttf);
}

body { font-family: "Open Sans",Arial,sans-serif; }

.docs-header {
  font-family: Carrois;
  background-color: #B74934;
  color: #F1C40F; 
}
.docs-header a {
  color: #F1C40F;
  text-decoration: underline;
}
.docs-header img.stryker-img { 
  max-width: 220px; 
}
.docs-header h1 {
  font-size: 63px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}