name: Mutation testing

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  website-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: ./.github/setup
        with:
          install-chromium: 'true'

      - name: Build
        run: pnpm run build

      - name: Mutation testing
        run: pnpm exec nx run @stryker-mutator/dashboard-frontend:stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

  non-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: ./.github/setup

      - name: Build
        run: pnpm run build

      - name: Mutation testing
        run: pnpm exec nx run-many --parallel 1 --exclude @stryker-mutator/dashboard-frontend -t stryker
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
